.collection-page {
    display: flex;
    flex-direction: column;
}

.collection-page > .title {
    font-size: 33px;
    margin: 0 auto 30px;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.items .colllection-item {
    margin-bottom: 40px;
}